.background{
    background: linear-gradient(135deg, #ece9e6, #ffffff);
    padding: 11.8rem 0;
    /* padding-top: ; */
    position: relative;
}
.square-right-global,
.square-left-global{
    background: var(--aqua);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 0;
    display: none;
}
.square-left-global{
    border-radius: 0 2rem 2rem 0;
    left: 0;
    bottom: -7rem;
}
.square-right-global{
    border-radius: 2rem 0 0 2rem;
    right: 0;
    top: -7rem;
}
@media (min-width: 768px) {
    .square-right-global,
    .square-left-global {
        display: block;
        width: 15rem;
        height: 25rem;
    }
}
@media (min-width: 1024px) {
    .square-right-global,
    .square-left-global {
        width: 30rem;
        height: 30rem;
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.squares{
    position: relative;
}
.square-right,
.square-left{
    background: var(--aqua);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 0;
    display: none;
}
.square-left{
    border-radius: 0 2rem 2rem 0;
    left: 0;
    top: -7rem;
}
.square-right{
    border-radius: 2rem 0 0 2rem;
    right: 0;
    bottom: -7rem;
}
@media (min-width: 768px) {
    .square-right,
    .square-left{
        display: block;
        width: 15rem;
        height: 70rem;
    }
}
@media (min-width: 1024px) {
    .square-right,
    .square-left{
        width: 30rem;
        height: 70rem;
    }
}
.heading {
    font-size: 4rem;
    margin: 0;
    text-align: center;
}
.mainparagraph,
.paragraph {
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    z-index: 2;
    /* background-color: var(--aqua);
    color: var(--white);
    padding: 4rem 0; */
    opacity: 0;
    transform: translateY(2rem);
}
.mainparagraph p,
.paragraph p{
    max-width: 80rem;
    width: 95%;
    margin: 0 auto;
}
.mainparagraph{
    margin: 4rem auto;
}
.paragraph{
    margin: 4rem auto;
}
@media (min-width: 768px) {
    .mainparagraph{
        margin: 4rem auto 8rem auto;
    }
    .paragraph{
        margin: 8rem auto 4rem auto;
    }    
}
.infogrid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}
@media (min-width: 768px) {
    .infogrid{
        display: grid;
        grid-template-areas:    "mission image1"
                                "image2 vision"
                                "values image3";
        gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
}
@media (min-width: 1024px) {
    .infogrid{
        grid-template-areas:    "image1 mission image2"
                                "vision image3 values";
        /* grid-template-columns: 3fr; */
        grid-template-columns: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
.infogrid div{
    border-radius: 1rem;
    max-height: 50rem;
    opacity: 0;
    transform: translateY(2rem);
    width: 100%;
}
@media (min-width: 768px) {
    .infogrid div{
        max-height: unset;
        width: auto;
        height: 40rem;
    }
}

.infobox {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    z-index: 10;
}
.infobox:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}
.infobox h2 {
    font-size: 2rem;
    margin: 0;
    color: #34495e;
    font-family: 'Roboto', sans-serif;
}
.infobox p {
    font-size: 1.5rem;
    color: #555;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}
.vision{
    grid-area: vision;
}
.mission{
    grid-area: mission;
}
.values{
    grid-area: values;
}
.image-1{
    grid-area: image1;
}
.image-2{
    grid-area: image2;
}
.image-3{
    grid-area: image3;
}
@media (min-width: 768px) {
    .vision{
        margin-top: 3rem;
    }
    .mission{
        margin-top: -3rem;
    }
    .values{
        margin-top: -3rem;
    }
    .image-1{
        margin-top: 3rem;
    }
    .image-2{
        margin-top: -3rem;
    }
    .image-3{
        margin-top: 3rem;
    }
}
@media (min-width: 1024px) {
    .vision{
        margin-top: 3rem;
    }
    .mission{
        margin-top: -3rem;
    }
    .values{
        margin-top: 3rem;
    }
    .image-1{
        margin-top: 3rem;
    }
    .image-2{
        margin-top: 3rem;
    }
    .image-3{
        margin-top: -3rem;
    }
}
div.photo {
    background: #ddd;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10;
    max-height: 20rem;
}
@media (min-width: 768px) {
    div.photo {
        max-height: unset;
    }
}
.photo picture {
    width: 100%;
    height: 100%;
}
.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.photo:hover img {
    transform: scale(1.1);
}
.photo:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}

.cintalogo {
    color: rebeccapurple;
}
div.animate{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease;
}