.homepage {
  color: #333;
  text-align: center;
  padding: 20px;
}

.header {
  padding: 50px 0;
  position: relative;
}

.header h1 {
  font-size: 48px;
  color: #003834;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 15px;
}

.header p {
  font-size: 18px;
  color: #003834;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 15px;
}

.header .shopNowBtn {
  background-color: #2FB2AF;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header .shopNowBtn:hover {
  background-color: #555;
}

.newCollection {
  background-color: #fff;
  padding: 50px 0;
}

.newCollection h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.newproducts{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
  gap: 16px; /* Space between grid items */
  padding: 16px; /* Optional padding around the grid */
}
.newproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view{
  margin-top: 10px;
  width: 30%
}