.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-between; /* Asegura que los productos se distribuyan equitativamente */
}

.product {
    flex: 1 1 calc(33.33% - 20px); /* Tres productos por fila con espacio entre ellos */
    margin: 5px; /* Asegura que haya un espacio entre los productos */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px;
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño del elemento */
}

.product img {
    max-width: 70%;
    height: 70%;
}

.product p {
    color: black;
    text-align: center;
}
