.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 700px;
}

.navlink {
  color: #003834;
  text-decoration: none;
  margin: 0 60px;
}

.logonav {
  height: 50px;
  width: auto;
}