.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
}

.navList {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 700px;
}

.navlink {
  color: #003834;
  text-decoration: none;
  margin: 0 60px;
}

.logonav {
  height: 50px;
  width: auto;
}

.footer {
  background-color: #003834;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.footerSection {
  flex: 1;
  padding: 0 20px;
  line-height: 30px;
}

.footerSection h3 {
  margin-bottom: 10px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
}

.footerSection li {
  margin-bottom: 5px;
}

.footerSection a {
  color: #fff;
  text-decoration: none;
}

.footerSection p {
  color: white;
  text-decoration: none;
  text-align: left;
}

.footerSection a:hover {
  text-decoration: underline;
}

.footerSection img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footerImage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.footerImage img {
  max-width: 300px; 
  height: auto;
}

.socialMedia {
  display: flex;
  align-items: center;
  margin-left: -10px;
}

.socialMedia img {
  width: 40px;
  height: auto;
  margin: 0 10px;
  margin-top: 5px;
  
}
